<div class="main">
    <h2>Schedule Test</h2>
    <div id="page">
    </div>
</div>
<script type="text/template" id="main_layout_template">
    <div id="config-type-selector-area">Loading</div>
    <div id="config-options-area"></div>
</script>

<script type="text/template" id="config_select_template">
    <p>Select config
        <select id="config-selector">
            <option selected disabled>Choose Type</option>
            <% _.each( config_types, function(key,value) { %>
            <option value="<%= value %>"><%= key %></option>
            <% }); %>
        </select>
    </p>
</script>

<!-- user message template -->
<script type="text/template" id="add-form-template">
    <form class="schedule_job_form">
        <legend>Add Devices Under Test</legend>
        <table class="table stripes4" border="1">
            <thead>
            <tr>
                <th></th>
                <th>Serial Number</th>
                <th>Station ID</th>
            </tr>
            </thead>
            <tbody>
            <!-- initially this is empty, but grows with each 'Add' -->
            <% duts.each( function(dut) { %>
            <tr>
                <td>
                    <button type="button" class="btn btn-primary btn-delete-dut" id="<%= dut.get('sn') %>"
                            value="<%= dut.get('sn') %>">Del
                    </button>
                </td>
                <td><%= dut.get('sn') %></td>
                <td><%= dut.get('station') %></td>
            </tr>
            <% }); %>
            <!-- Allow them to add another field. -->
            <tr>
                <td>
                    <button id="add_dut_btn" type="submit" class="btn btn-primary add_dut_btn" name="submit_btn"
                            value="add">Add
                    </button>
                </td>
                <td>
                    <input type="text" id="new_sn" name="sn" placeholder='Scan Chassis'>
                </td>
                <td>
                    <div class="port_selector"><input type="text" name="station"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="controls">
            <button id="start_test_btn" type="submit" class="btn btn-primary start_test_btn" name="submit_btn"
                    value="start">
                Start
            </button>
            <button id="reset_btn" type="submit" class="btn btn-primary reset_btn" name="submit_btn" value="reset">
                Reset
            </button>
        </div>
    </form>

</script>

<script type="text/template" id="upload-form-template">

    <span class="file-input btn  btn-primary btn-file">
      <input id="fileInput" type="file" name="fileInput">
    </span>
    <div id="controls">
        <button id="upload_file_btn" type="submit" class="btn btn-primary upload_file_btn" name="submit_btn"
                value="start">
            Start
        </button>
        <button id="reset_btn" type="submit" class="btn btn-primary reset_btn" name="submit_btn" value="reset">
            Reset
        </button>
    </div>

</script>

<script type="text/template" id="port_select_template">

    <select name="station">
        <option value="" disabled selected>Scan Station</option>
        <% _.each(ports, function(port) { %>
        <option value="<%= port %>"><%= port %></option>
        <% }); %>
    </select>

</script>

<script type="text/template" id="spinner_template">
  <span><img src='imgs/ajax-loader.gif'> Queuing Job, please wait...</span>
</script>
