<div class="main">
    <h2>Jobs</h2>
    <div id="but-all">
        <button type="button" class="btn btn-primary btn-toggle-jobs">Show All</button>
    </div>
    <div id="jobs-list">
        <table border=1 id="jobsTable" class="tablesorter">
            <thead>
            <tr>
                <th>Action</th>
                <th>Start Date</th>
                <th>Elapsed</th>
                <th>Job Status</th>
                <th>DUT Status</th>
                <th>Console</th>
                <th>Conf</th>
                <th>Jenkins</th>
            </tr>
            </thead>
            <tfoot>
            <tbody>
            <% _.each(jobs, function(job){
            var id = job['attributes']['id'] || "";
            var build_is_running = job['attributes']['build_is_running'] || "";
            var build_status = job['attributes']['build_status'] || "";
            var conf_file = job['attributes']['conf_file'] || "";
            var duration = job['attributes']['duration'] || "";
            var status = job['attributes']['status'] || "";
            var start_date = job['attributes']['start_date'] || "";
            var url = job['attributes']['url'] || "";

            %>
            <tr>
                <td>
                    <span style="white-space:nowrap;">
                        <% if ( build_is_running ) { %>
                        <button type="button" class="btn btn-primary btn-stop-build" data-id="<%= id %>" >Stop</button>
                        <% } else { %>
                        <button type="button" class="btn btn-primary btn-delete-build" data-id="<%= id %>" >Del</button>
                        <% } %>
                    </span>
                </td>
                <td>
                    <%= start_date %>
                </td>
                <td>
                    <%= duration %>
                </td>
                <td>
                    <% if (build_status == 'FAILURE' ) { %>
                        <span style="color: red;"><%= build_status %></span>
                    <% } else if (build_status == 'ABORTED') { %>
                        <span style="color: orange;"><%= build_status %></span>
                    <% } else if (build_status == 'SUCCESS') { %>
                        <span>COMPLETE</span>
                    <% } else if (build_status != '') { %>
                        <span><%= build_status %></span>
                    <% } else if (build_is_running) { %>
                        Running
                    <% } %>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-status" onclick="window.location.href='#/jobs/<%= start_date %>/<%= id %>'">Status</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-console" onclick="window.location.href='#/jobconsole/<%= id %>'">Console</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-config-file" onclick="window.location.href='glitchlogs/<%= start_date %>/<%= conf_file %>'">Config</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-config-file" onclick="window.location.href='<%= url %>'">Build</button>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>

