<div class="main">
    <h2>Jobs</h2>
    <div id="jobs-list">
        <table border=1 id="jobsTable" class="tablesorter">
            <thead>
            <tr>
                <th>Action</th>
                <th>Id</th>
                <th>Status</th>
                <th>Conf</th>
                <th>Elapsed</th>
                <th>Serial</th>
                <th>Start Date</th>
                <th>Logs</th>
                <th>URL</th>
            </tr>
            </thead>
            <tfoot>
            <tbody>
            <% _.each(jobs, function(job){
            var id = job['attributes']['id'] || "";
            var build_is_running = job['attributes']['build_is_running'] || "";
            var build_status = job['attributes']['build_status'] || "";
            var conf_file = job['attributes']['conf_file'] || "";
            var duration = job['attributes']['duration'] || "";
            var serialno = job['attributes']['serialno'] || "";
            var start_date = job['attributes']['start_date'] || "";
            var url = job['attributes']['url'] || "";

            %>
            <tr>
                <td>
                    <span style="white-space:nowrap;">
                        <% if ( build_is_running ) { %>
                        <button type="button" class="btn btn-primary btn-stop-build" data-id="<%= id %>" >Stop</button>
                        <% } else { %>
                        <button type="button" class="btn btn-primary btn-delete-build" data-id="<%= id %>" >Del</button>
                        <% } %>
                    </span>
                </td>
                <td>
                    <a href="jobconsole/<%= id %>"><%= id %></a>
                </td>
                <td>
                    <% if (build_status == 'FAILURE' ) { %>
                        <span style="color: red;"><%= build_status %></span>
                    <% } else if (build_is_running) { %>
                        Running
                    <% } %>
                </td>
                <td>
                    <a href="scriptlogs/<%= start_date %>/<%= conf_file %>"><%= conf_file %></a>
                </td>
                <td>
                    <%= duration %>
                </td>
                <td>
                    <%= serialno %>
                </td>
                <td>
                    <%= start_date %>
                </td>
                <td>
                    <a href="scriptlogs/<%= start_date %>/logs/">Scritp Logs</a>
                </td>
                <td>
                    <a href="<%= url %>">url</a>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>

